{% include header.html %}
    
    <section id="posts">
      {block:Posts}
        {% include post.html %}
      {/block:Posts}
    </section> <!-- #posts -->
    
    {block:Pagination}
      <nav id="pagination">
        {block:PreviousPage}
          <div class="previous">
            <a href="{PreviousPage}">Previous</a>
          </div>
        {/block:PreviousPage}
        {block:NextPage}
          <div class="next">
            <a href="{NextPage}">Next</a>
          </div>
        {/block:NextPage}
        <div class="current">
          Page {CurrentPage} of {TotalPages}
        </div>
      </nav>
    {/block:Pagination}
    
